{% extends "webmail/base.html" %}
{% load webmail i18n static %}

{% block content_area %}
<h3 class="page-title">{% trans "Change password" %}</h3>
<form id="change-password-form" class="form" action="{% mail_url 'change_password' %}">
    {% csrf_token %}
    <div class="form-group row">
        <label class="control-label col-md-3" for="input_old_password">{% trans "Old password" %}</label>
        <div class="col-md-7">
            <div class="field-wrap">
                <input type="password" name="old_password" class="form-control input-password" required="" id="input_old_password">
                <a href="#" class="show-password-link" tabindex="-1">{% trans "Show" %}</a>
            </div>
        </div>
    </div>
  
    <div class="form-group row">
        <label class="control-label col-md-3" for="input_new_password1">{% trans "New password" %}</label>
        <div class="col-md-7">
            <div class="field-wrap">
                <input type="password" name="new_password1" class="form-control input-password" required="" id="input_new_password1">
                <a href="#" class="show-password-link" tabindex="-1">{% trans "Show" %}</a>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <label class="control-label col-md-3" for="input_new_password2">{% trans "New password confirmation" %}</label>
        <div class="col-md-7">
            <div class="field-wrap">
                <input type="password" name="new_password2" class="form-control input-password" required="" id="input_new_password2">
                <a href="#" class="show-password-link" tabindex="-1">{% trans "Show" %}</a>
            </div>
        </div>
    </div>

    <div class="form-footer" style="padding: 20px 0 0 0; margin-top: 10px;">
        <div class="row">
            <div class="col-12 col-md-offset-3">
                <button class="btn btn-primary btn-sm" type="submit"><i class="fa fa-fw fa-lg fa-check-circle"></i>{% trans "Submit" %}</button>
                <a class="btn btn-secondary btn-sm" href="{% mail_url 'profile' %}"><i class="fa fa-fw fa-lg fa-times-circle"></i>{% trans "Cancel" %}</a>
            </div>
        </div>
    </div>
</form>
{% endblock %}

{% block before_end_body %}
    <script type="text/javascript" src="{% static 'webmail/lib/jsbn.js' %}"></script>
    <script type="text/javascript" src="{% static 'webmail/lib/jsbn2.js' %}"></script>
    <script type="text/javascript" src="{% static 'webmail/lib/SHA256.js' %}"></script>
    <script type="text/javascript" src="{% static 'webmail/lib/SHA1.js' %}"></script>
    <script type="text/javascript" src="{% static 'webmail/lib/MD5.js' %}"></script>
    <script type="text/javascript" src="{% static 'webmail/lib/random.js' %}"></script>
    <script type="text/javascript" src="{% static 'webmail/lib/isaac.js' %}"></script>
    <script type="text/javascript" src="{% static 'webmail/js/srp_defaults.js' %}"></script>
    <script type="text/javascript" src="{% static 'webmail/js/srp-client.js' %}"></script>

    <script>
    (function(){
        function calculateNewSaltAndVerifier(username, password){
          var srp = new SRPClient(username, password, DEFAULT_SRP_GROUP, DEFAULT_SRP_HASH_FN);
          var salt = srp.randomHexSalt();
          var verifier = srp.calculateV(salt).toString(16);

          return {
            "salt": salt,
            "verifier": verifier
          }
        }

        var form = new Form('#change-password-form');
        var INVALID_PASSWORD_ERROR_CODE = "invalid_password";

        var invalid_old_password = function(){
            form.showError("Invalid password!");
        }

        form.onSubmit(function() {
          var old_password = this.fieldValue("old_password");

          if (old_password === ""){
            this.showFieldError("old_password", '{% trans "Password can not be empty!" %}');
            return;
          }

          var new_password1 = this.fieldValue("new_password1");

          if (new_password1 === ""){
            this.showFieldError("new_password1", '{% trans "New password can not be empty!" %}');
            return;
          }

          var new_password2 = this.fieldValue("new_password2");
          if (new_password1 !== new_password2){
            this.showFieldError("new_password1", "{% trans "Passwords doesn't coincide" %}");
            return;
          }

          var newSaltAndVerifier = calculateNewSaltAndVerifier(USER.username, new_password1);
          var srp = new SRPClient(USER.username, old_password, DEFAULT_SRP_GROUP, DEFAULT_SRP_HASH_FN);

          // 1. The client generates and stores A.
          var a = srp.startAuthentication();

          // 2. The client sends username and A to the server.
          $.post('{% url "webmail:change_password_step1" %}', {
            "csrfmiddlewaretoken": csrfmiddlewaretoken,
            "A": srp.A.toString(16),
            "srp_group": DEFAULT_SRP_GROUP,
            "salt": newSaltAndVerifier.salt,
            "verifier": newSaltAndVerifier.verifier
          }, function (response) {
            // 3. The server receives A and generates B.
            if (response.ok) {
              var data = response.data;

              var bHex = data.B;
              var s = data.s;

              var mHex = srp.processChallenge(bHex, s);

              $.post('{% url "webmail:change_password_step2" %}', {
                "csrfmiddlewaretoken": csrfmiddlewaretoken,
                "M": mHex
              }, function(response){
                if (response.ok) {
                    if (response.data && response.data.H_AMK && srp.verifySession(response.data.H_AMK)) {
                        var redirect_url = reverse_absolute_url("profile");
                        window.location.href = redirect_url;
                    } else {
                        invalid_old_password();
                    }
                } else {
                    if (response.error_code === INVALID_PASSWORD_ERROR_CODE)
                        invalid_old_password();
                }
              });


            } else {
                if (response.error_code === INVALID_PASSWORD_ERROR_CODE)
                    invalid_old_password();
            }
          }, 'json');
        });
    })();
    </script>
{% endblock %}
