{% extends "webmail/base.html" %}
{% load webmail utils i18n %}


{% block content_area %}
    <h3 class="page-title">{{ page_title }}</h3>

    {% if bulk_action_url_name %}
    <form action="{% mail_url bulk_action_url_name %}" method="POST">
    {% csrf_token %}
    {% endif %}

    <div class="obj-list">
        {% if show_object_list_controls %}
        <div class="obj-list-controls">
            {% if add_obj_url_name %}<a class="control btn btn-primary btn-sm" href="{% mail_url add_obj_url_name %}">New {{ object_name }}</a>{% endif %}{% if page_obj.paginator.count != 0 and object_actions %}{% ifequal object_actions|length 1 %}  <button type="submit" name="action_name" value="{{ object_actions.0.action_name }}" class="control btn btn-secondary btn-sm">{{ object_actions.0.label }}</button>{% else %}<div class="actions d-inline-block ml-3"><label>{% trans "Action:" %} <select class="form-control d-inline-block w-auto" name="action_name" required=""><option value="" selected="">---------</option>{% for action in object_actions %}<option value="{{ action.action_name }}">{{ action.label }}</option>{% endfor %}</select></label> <button type="submit" class="control btn btn-secondary btn-sm" title="{% trans 'Run the selected action' %}">{% trans "Go" %}</button></div>{% endifequal %}{% endif %}
        </div>
        {% endif %}
        {% ifnotequal page_obj.paginator.count 0 %}
            <div class="table-responsive table-obj-wrap">
                <table id="table_obj" class="table">
                    <thead>
                        <tr>{% if object_actions %}<th class="obj-list-checkbox-column"><input data-check-toggle="obj_list" type="checkbox" name="rowtoggle" class="action-row-toggle" /></th>{% endif %}{% if show_object_id %}<th>#</th>{% endif %}{% for header_name in table_headers %}<th>{{ header_name }}</th>{% endfor %}{% if object_is_editable %}<th></th>{% endif %}</tr>
                    </thead>
                    {% for row in table_rows %}
                    <tr>{% if object_actions %}<td><input type="checkbox" name="obj_list" class="action-checkbox" value="{{ row.id }}" /></td>{% endif %}{% if show_object_id %}<td>{% if row.obj_editable %}<a href="{% mail_url 'edit_obj' object_name=object_name obj_id=row.id %}">{{ row.id }}</a>{% else %}{{ row.id }}{% endif %}</td>{% endif %}{% for cell_data in row.cell_data_list %}<td>{{ cell_data|safe }}</td>{% endfor %}{% if object_is_editable and row.has_edit_permission %}<td><a href="{% mail_url 'edit_obj' object_name=object_name obj_id=row.id %}" class="btn btn-primary btn-sm">{% trans "Edit" %}</a></td>{% endif %}</tr>
                    {% endfor %}
                </table>
            </div>

            {% if is_paginated %}
            <nav class="pagination-container mt-2">
                <ul class="pagination table-obj-pagination">
                {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link" href="{% pagination_url page=page_obj.previous_page_number  %}">{% trans "Previous" %}</a></li>
                {% else %}
                    <li class="page-item disabled"><span class="page-link">{% trans "Previous" %}</span></li>
                {% endif %}
                {% range i 1 page_obj.paginator.num_pages|add:1 %}
                    {% if page_obj.number == i %}
                        <li class="page-item active"><a class="page-link" href="{% pagination_url page=i %}">{{ i }} <span class="sr-only">(current)</span></a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="{% pagination_url page=i %}">{{ i }}</span></a></li>
                    {% endif %}
                {% endrange %}
                {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="{% pagination_url page=page_obj.next_page_number %}">{% trans "Next" %}</a></li>
                {% else %}
                    <li class="page-item disabled"><span class="page-link">{% trans "Next" %}</span></li>
                {% endif %}
                </ul>
            </nav>
            {% endif %}
        {% endifnotequal %}
    </div> <!-- /obj-list -->
    {% if bulk_action_url_name %}
    </form>
    {% endif %}

    <br>
    {% if back_url %}
    <a class="pull-right" href="{{ back_url }}">{% if back_url_text %}{{ back_url_text }}{% else %}{% trans "Back" %}{% endif %}</a>
    {% endif %}

{% endblock %}
