{% load i18n %}
{% if data.objects %}
<div class="info-objects">
{% for object in data.objects %}
<div class="object">
<h4>{{ object.title }}</h4>
<div class="object-field-list">
    {% for field in object.fields %}
    <div class="object-field">
        <span class="object-field-label">{{ field.label }}: </span> <span class="object-field-value">{{ field.value }}</span>
    </div>
    {% endfor %}
</div>
{% if object.object_links %}
<div class="object-links">
    {% for link in object.object_links %}
    <a class="{% if link.name %}object-{{ link.name }}-link {% endif %}object-link" href="{{ link.url }}">{{ link.text }}</a>
    {% endfor %}
</div>
{% endif %}
</div>
{% endfor %}
</div>
{% endif %}
